$mobile400breakpoint: 400px;
$mobile500breakpoint: 500px;
$mobile600breakpoint: 600px;
$tabletbreakpoint: 768px;
$tablet900breakpoint: 900px;
$tablet1000breakpoint: 1000px;
$tablet1200breakpoint: 1200px;
$desktopbreakpoint: 1279px;
$desktop1450breakpoint: 1450px;

@mixin mobile400 {
    @media (min-width: $mobile400breakpoint) {
        @content;
    }
}

@mixin mobile500 {
    @media (min-width: $mobile500breakpoint) {
        @content;
    }
}

@mixin mobile600 {
    @media (min-width: $mobile600breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tabletbreakpoint) {
        @content;
    }
}

@mixin tablet900 {
    @media (min-width: $tablet900breakpoint) {
        @content;
    }
}

@mixin tablet1000 {
    @media (min-width: $tablet1000breakpoint) {
        @content;
    }
}

@mixin tablet1200 {
    @media (min-width: $tablet1200breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktopbreakpoint){
        @content;
    }
}

@mixin desktop1450 {
    @media (min-width: $desktop1450breakpoint){
        @content;
    }
}
