@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

*{
    font-family: $fontRegular;
}

a {
    padding: 0.625rem;
    text-decoration: none;
    font-weight: bold;
    color: black;

    &:hover {
        color: #545454;
    }
}

.home{
    &__content{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
            margin-top: 0rem;
        }
    }
    &__divider{
        margin: -50px 0px;
    }
    &__videoDetails{
        @include tablet{
            padding: 0rem 2rem;
        }
        @include desktop{
            width:52vw;
            padding-left: 8rem;;
        }
    }
}

.display-desktop{
    display: none;
    @include desktop {
        display: block;
    }
}
