@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.new-comment {

    display: flex;

    &__userIcon {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        object-fit: cover;
        margin: 1rem 1rem 0rem 0rem;
    }

    &__userdetails {
        display: flex;
        justify-content: space-between;
        width: 70vw;

        @include mobile400{
            width: 77vw;
        }

        @include mobile500{
            width: 80vw;
        }

        @include mobile600{
            width: 85vw;
        }

        @include tablet {
            width: 80vw;
        }
        
        @include desktop {
            width: 46vw;
        }
    }

    &__sub-heading {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: $brainflixBlack;
    }

    &__date {
        color: $brainflixSilver;
        font-weight: 100;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}