@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

*{
    font-family: $fontRegular;
}

.comment-section {
    &__title {
        color: $brainflixBlack;
    }

    &__form{
        display: flex;
        flex-direction: row;
        padding: 1rem 1rem;
        position: relative;
    }
    
    &__add {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__heading {
        margin: 0rem 0rem 0.25rem;
        color: $brainflixSilver;
    }

    &__input {
        width: 65vw;
        height: 12vh;
        margin: 0rem 0.5rem 1rem 0rem;
        background-color:#FAFAFA;
        border: 1.5px solid $brainflixSilver;
        border-radius: 4px;
        &::placeholder{
            padding: 1rem 0rem 0rem 0.5rem;
            color:black;
        }

        @include mobile400{
            width: 70vw;
            height: 15vh;
        }

        @include mobile500 {
            width: 78vw;
            height: 15vh;
        }

        @include tablet {
            height: 4vh;
            width: 60vw;
        }
    }

    &__userIcon {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        object-fit: cover;
        margin: 1rem 1rem 0rem 0rem;

        @include tablet {
            height: 4vh;
        }

        @include desktop {
            margin-left: 2rem;
        }
    }

    &__button{
        background-color: $brainflixBlue;
        border: none;
        border-radius: 5px;
        height: 5vh;
        color: $brainflixWhite;
        font-weight: $fontWeightBold;

        @include mobile400{
            height: 5.5vh;
        }

        @include mobile500{
            height: 6vh;
        }

        @include tablet {
            height: 4.2vh;
            width: 20vw;
            margin-top: 1.25rem;
        }
    }
        
    &__image{
        z-index: 10;
        position: absolute;
        top: 83%;
        left: 5%;

        @include tablet {
            top: 40%;
            left: 77%;
        }
        
        @include tablet1000{
            left:75%
        }
        
        @include desktop1450 {
            left: 74%;
        }
    }
}