@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

*{
    font-family: $fontRegular;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    background: $brainflixWhite;
    z-index: 10;
    @include tablet {
        flex-direction: row;
    }
  
    &__logo {
        width: 50vw;
        height: 5vh;
    }

    &__searchBar {
        background-image: url("../../assets/icons/search.svg");
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: 2%;
        height: 5vh;
        width: 70vw;
        border-radius: 5px;
        text-indent: 10%;
    }

    &__form {
        display: flex;
        align-items: center;
        padding: 1rem 0rem;
    }

    &__userIcon {
        height: 5vh;
        width: 7vw;
        border-radius: 50%;
        background-size: auto, contain;
        margin-left: 20px;
    }

    &__upload{

        &-button{
            background-color: $brainflixBlue;
            border: none;
            border-radius: 5px;
            height: 8vh;
            width: 85vw;
            color: $brainflixWhite;
            font-weight: $fontWeightBold;
        }
        
        &-image{
            z-index: 10;
            position: absolute;
            top: 20%;
            left: 10%;
        }
    }
}