@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

*{
    font-family: $fontRegular;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    background: $brainflixWhite;
    z-index: 10;
    @include tablet {
        flex-direction: row;
    }
  
    &__logo {
        width: 50vw;
        height: 5vh;

        @include tablet {
            width: 20vw;
            padding: 0rem 5rem 0rem 1rem;
        }

        @include desktop {
            padding: 0rem 10rem 0rem 1rem;
        }
    }

    &__searchBar {
        background-image: url("../../assets/icons/search.svg");
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: 2%;
        height: 5vh;
        width: 66vw;
        border-radius: 5px;
        text-indent: 10%;

        @include mobile400{
            width: 70vw;
        }

        @include mobile500 {
            width: 74vw;
        }

        @include mobile600 {
            width: 76vw;
        }

        @include tablet {
            width: 30vw;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        padding: 1rem 0rem;
    }

    &__userIcon {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        background-size: cover;
        margin-left: 1rem;
        

        @include tablet {
            height: 6vh;
        }

        @include desktop {
            margin-left: 2rem;
        }
    }

    &__upload{
        position: relative;
        @include tablet {
            display: flex;
            flex-direction: row;
            padding-left: 0.5rem;
        }
        &-button{
            background-color: $brainflixBlue;
            border: none;
            border-radius: 5px;
            height: 6vh;
            width: 85vw;
            color: $brainflixWhite;
            font-weight: $fontWeightBold;
            @include tablet {
                height: 5.75vh;
                width: 20vw;
            }
        }
        
        &-image{
            z-index: 10;
            position: absolute;
            left: 2%;
            top: 20%;
            
            @include tablet {
                top: 30%;
                left: 7%;
            }
        }
    }
}