@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

*{
    font-family: $fontRegular;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    background: $brainflixWhite;
    z-index: 10;
    @include tablet {
        flex-direction: row;
    }
  
    &__logo {
        width: 50vw;
        height: 5vh;
    }

    &__searchBar {
        background-image: url("../../assets/icons/search.svg");
        object-fit: cover;
        background-repeat: no-repeat;
        background-origin: padding-box;
        height: 5vh;
        width: 70vw;
        border-radius: 5px;
        text-indent: 12%;
    }

    &__form {
        display: flex;
        align-items: center;
        padding: 1rem 0rem;
    }

    &__userIcon {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 20px;
    }

    &__button {
        background-color: $brainflixBlue;
        border: none;
        border-radius: 5px;
        height: 8vh;
        width: 90vw;
        padding: 0rem 6rem;
        color: $brainflixWhite;
        font-weight: $fontWeightBold;

        &-image{
            position: relative;
            right:100%;
        }
    }
}