@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/colors" as *;

.uploadForm{
    margin: 0rem 1rem;
    &__topHR{
        margin: 0px -50px;
        @include tablet{
            margin: 0rem;
        }
    }
    &__heading{
        margin: 2rem 0rem;
    }

    &__subHeading {
        color: $brainflixSilver;
        margin: 0.5rem 0rem;
    }

    &__thumbnail{
        width: 90vw;
        height: 40vh; 
        border-radius: 5px;
        object-fit:fill;

        @include tablet{
            width: 50vw;
        }
    }

    &__input {
        width: 90vw;
        height: 6vh;
        margin: 0rem 0.5rem 1rem 0rem;
        background-color:#FAFAFA;
        border: 1.5px solid $brainflixSilver;
        border-radius: 4px;
        &::placeholder{
            padding: 1rem 0rem 0rem 0.5rem;
            color:black;
            @include tablet{
                padding-top: 0.5rem;
            }
        }
        @include tablet {
            width: 95vw;
        }
    }

    &__desc {
        height: 15vh;
    }

    &__publish{
        position: relative;
        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        &-button{
            background-color: $brainflixBlue;
            border: none;
            border-radius: 5px;
            height: 8vh;
            width: 92vw;
            color: $brainflixWhite;
            font-weight: $fontWeightBold;
            @include tablet {
                height: 8vh;
                width: 23vw;
            }
            @include desktop {
                width: 15vw;
            }
        }
        
        &-image{
            z-index: 10;
            position: absolute;
            left: 7%;
            top: 13%;
            
            @include tablet {
                top: 27%;
                left: 78%;
            }
        }

        &-cancel{
            color: $brainflixBlue;
            text-align: center;
            @include tablet{
                padding-right: 5rem;
            }
        }
    }
}